{% extends 'base.html' %}

{% block content %}
    <h5>Add a New Patient </h5>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4 text-white"></legend>
            <div class="row">
                <div class="form-group col-lg-6 col-md-6">
                    {{ form.first_name.label(class="form-control-label text-white") }}
                    {% if form.first_name.errors %}
                        {{ form.first_name(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.first_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.first_name(class="form-control form-control-sm") }}
                    {% endif %}
                </div>

                <div class="form-group col-lg-6 col-md-6">
                    {{ form.last_name.label(class="form-control-label text-white") }}
                    {% if form.last_name.errors %}
                        {{ form.last_name(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.last_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.last_name(class="form-control form-control-sm") }}
                    {% endif %}
                </div>

                <div class="form-group col-lg-6 col-md-6">
                    {{ form.gender.label(class="form-control-label text-white") }}
                    {% if form.gender.errors %}
                        {{ form.gender(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.gender.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.gender(class="form-control form-control-sm") }}
                    {% endif %}
                </div>

                <div class="form-group col-lg-6 col-md-6">
                    {{ form.age.label(class="form-control-label text-white") }}
                    {% if form.age.errors %}
                        {{ form.age(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.age.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.age(class="form-control form-control-sm") }}
                    {% endif %}
                </div>

                <div class="form-group col-lg-6 col-md-6">
                    {{ form.facility.label(class="form-control-label text-white") }}
                    {% if form.facility.errors %}
                        {{ form.facility(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.facility.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.facility(class="form-control form-control-sm") }}
                    {% endif %}
                </div>

                <div class="form-group col-lg-6 col-md-6">
                    {{ form.county.label(class="form-control-label text-white") }}
                    {% if form.county.errors %}
                        {{ form.county(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.county.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.county(class="form-control form-control-sm") }}
                    {% endif %}
                </div>

                <div class="form-group col-lg-6 col-md-6">
                    {{ form.reg_date.label(class="form-control-label text-white") }}
                    {% if form.reg_date.errors %}
                        {{ form.reg_date(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.reg_date.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.reg_date(class="form-control form-control-sm") }}
                    {% endif %}
                </div>
            </div>
        </fieldset>
        <div class="form-group pt-2">
            {{ form.submit(class="btn btn-sm py-2 px-5 submit") }}
        </div>

    </form>

{% endblock %}